.banner{
    width: 100%;
    height: 38px;
}
.header-cities{
    border-radius: 16px !important;
    background:#BAB4E1 !important;
    color: #FAFAFA;
    font-family: Comfortaa;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: none !important;
}
.header-cities .p-select-label{
    color: #FAFAFA;
}